<!--<div class="jumbotron text-center" style="height: 130px">-->
  <!--<h1 style="text-align: center;margin-top: 1px">Ride Zone</h1>-->
  <!--&lt;!&ndash;<p class="lead"> This is the lasgest online Market in Bangladesh</p>&ndash;&gt;-->

<!--</div>-->

<!--<div class="container-fluid container">-->
  <!--<div *ngIf="products" class="row">-->
    <!--<div *ngFor="let product of products;let i = index">-->

      <!--<div *ngIf="(i%4 == 0)" class="col-md-3" style="margin-left: 0px">-->
        <!--<h2 >{{product.name}}</h2>-->
        <!--<img src="http://localhost:3000/{{product.picture}}" style="width: 100%">-->
        <!--<h4><b>Price:</b> <span style="color: crimson">{{product.price}}</span></h4>-->

        <!--<p>{{product.description}}</p>-->
      <!--</div>-->

      <!--<div *ngIf="(i%4 != 0)" class="col-md-3">-->
        <!--<h2 >{{product.name}}</h2>-->
        <!--<img src="http://localhost:3000/{{product.picture}}" style="width: 100%">-->
        <!--<h4 ><b>Price:</b> <span style="color: green">{{product.price}}</span></h4>-->

        <!--<p>{{product.description}}</p>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->


<!--card-->

<!--<div *ngIf="products" class="row">-->

  <!--<div *ngFor="let product of products;let i = index" class="col-md-3">-->

            <!--<div  class="card">-->
              <!--<h2>{{product.name}}</h2>-->
              <!--<img src="http://localhost:3000/{{product.picture}}" alt="Avatar" style="width:100%" height="180px" width="250px">-->
              <!--<div class="container">-->
                <!--<h4><b>Price:</b>{{product.price}}</h4>-->
                <!--<p>{{product.description}}</p>-->
              <!--</div>-->
            <!--</div>-->

  <!--</div>-->
<!--</div>-->

<!--card end-->


<div *ngIf="products" class="row">
    <div *ngFor="let product of products;let i = index" class="col-sm-6 col-md-4">

      <div  class="thumbnail">
        <h3 style="float: left">{{product.code}}</h3>

        <button (click)="delFunc(product)" *ngIf="isAdmin" style="float: right;margin-top: 18px;margin-right: 15px;" type="button" class="btn btn-danger btn-sm">
          <span class="glyphicon glyphicon-trash"></span> Trash
        </button>

        <button *ngIf="isAdmin" (click)="editProduct(product._id)" style="float: right;margin-top: 18px;margin-right: 15px;" type="button" class="btn btn-primary btn-sm">
          <span class="glyphicon glyphicon-edit"></span> Edit
        </button>


        <h3 (click)="detailsView(product._id)" style="color: deepskyblue;text-align: center">{{product.name}}</h3>

        <img (click)="detailsView(product._id)" src="http://localhost:3000/{{product.picture[0]}}" alt="..." class="img-responsive">
        <div class="caption">
          <p class="description">{{ product.description }}</p>
          <div class="clearfix">
            <div class="price pull-left">${{ product.price }}</div>


            <a (click)="cart(1,product._id,product)" class="btn btn-success pull-right" role="button">Add to Shopping Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>



