<div class="panel panel-primary" style="width: 70%; margin-left: 15%">
  <div class="panel-heading">Profile</div>
  <div class="panel-body">


    <table  class="table">
      <thead>
      <tr>
        <th style="text-align: center">Name</th>
        <th style="text-align: center">Email</th>
        <th style="text-align: center">Username</th>

      </tr>
      </thead>


        <tbody *ngFor="let user of users;let i = index">
                <tr  *ngIf="(i%2==0)">
                  <td style="text-align: center">{{user.name}}</td>
                  <td style="text-align: center">{{user.email}}</td>
                  <td style="text-align: center">{{user.username}}</td>
                </tr>

                <tr class="success" *ngIf="(i%2!=0)">
                  <td style="text-align: center">{{user.name}}</td>
                  <td style="text-align: center">{{user.email}}</td>
                  <td style="text-align: center">{{user.username}}</td>

                </tr>
        </tbody>



        <tbody *ngIf="!users">
        <tr *ngIf="singleUser" class="success">
          <td style="text-align: center">{{singleUser.name}}</td>
          <td style="text-align: center">{{singleUser.email}}</td>
          <td style="text-align: center">{{singleUser.username}}</td>
        </tr>
        </tbody>


    </table>



  </div>
</div>





